<div class="pane-content">
    <div class="panel-pane pane-views-panes pane-magazine-magazine-promo promo" >

        <div class="calAventContainer">
            Intro text
            <div id="calBoxesHolder" class="container">


            </div>

        </div>

    </div>
</div>