<div class="pane-content ">
    <div class="panel-pane pane-views-panes pane-magazine-magazine-promo promo adaptForCalAvent" >

        <div class="calAventVideoHolder">
            <div id="transparentBgr"></div>
            <div id="embeddedVineVid"><div id="btXVideo"> <div class="btnClosePane closeVideoCalBt"></div></div> </div>

            <div id="embeddedVineVidAuthor"></div>
        </div>

        <div id="handCursorHolder"> <div id="handCursor"></div> </div>

        <div class="btnClosePane calX"></div>
        <div class="calTitre"> CALENDRIER DE L'AVENT / ADVENTSKALENDER  <hr class="hrRule"> <span class="calAuthors"> <a href="http://studiocaptureparis.blogspot.fr/" target="_blank">Collectif / Künstlerkollektiv Capture & Friends</a></span>  </div>

        <div class="calAventContainer">
            <div id="calBoxesHolder" class="container"></div>
            <div class="clearfix footerBox"></div>
        </div>


    </div>
</div>

